:root {
    --black: #000000;
    --dark-blue: #0000AA;
    --dark-green: #00AA00;
    --dark-aqua: #00AAAA;
    --dark-red: #AA0000;
    --dark-purple: #AA00AA;
    --gold: #FFAA00;
    --gray: #AAAAAA;
    --dark-gray: #555555;
    --blue: #5555FF;
    --green: #55FF55;
    --aqua: #55FFFF;
    --red: #FF5555;
    --light-purple: #FF55FF;
    --yellow: #FFFF55;
    --white: #FFFFFF;
}

.color-0 {
    color: var(--black);
}

.color-black {
    color: var(--black);
}

.background-0 {
    background-color: var(--black);
}

.background-black {
    background-color: var(--black);
}

.color-1 {
    color: var(--dark-blue);
}

.color-dark-blue {
    color: var(--dark-blue)
}

.background-1 {
    background-color: var(--dark-blue);
}

.background-dark-blue {
    background-color: var(--dark-blue);
}

.color-2 {
    color: var(--dark-green);
}

.color-dark-green {
    color: var(--dark-green);
}

.background-2 {
    background-color: var(--dark-green);
}

.background-dark-green {
    background-color: var(--dark-green);
}

.color-3 {
    color: var(--dark-aqua);
}

.color-dark-aqua {
    color: var(--dark-aqua);
}

.background-3 {
    background-color: var(--dark-aqua);
}

.background-dark-aqua {
    background-color: var(--dark-aqua);
}

.color-4 {
    color: var(--dark-red);
}

.color-dark-red {
    color: var(--dark-red);
}

.background-4 {
    background-color: var(--dark-red);
}

.background-dark-red {
    background-color: var(--dark-red);
}

.color-5 {
    color: var(--dark-purple);
}

.color-dark-purple {
    color: var(--dark-purple);
}

.background-5 {
    background-color: var(--dark-purple);
}

.background-dark-purple {
    background-color: var(--dark-purple);
}

.color-6 {
    color: var(--gold);
}

.color-gold {
    color: var(--gold);
}

.background-6 {
    background-color: var(--gold);
}

.background-gold {
    background-color: var(--gold);
}

.color-7 {
    color: var(--gray);
}

.color-gray {
    color: var(--gray);
}

.background-7 {
    background-color: var(--gray);
}

.background-gray {
    background-color: var(--gray);
}

.color-8 {
    color: var(--dark-gray);
}

.color-dark-gray {
    color: var(--dark-gray);
}

.background-8 {
    background-color: var(--dark-gray);
}

.background-dark-gray {
    background-color: var(--dark-gray);
}

.color-9 {
    color: var(--blue);
}

.color-blue {
    color: var(--blue);
}

.background-9 {
    background-color: var(--blue);
}

.background-blue {
    background-color: var(--blue);
}

.color-a {
    color: var(--green);
}

.color-green {
    color: var(--green);
}

.background-a {
    background-color: var(--green);
}

.background-green {
    background-color: var(--green);
}

.color-b {
    color: var(--aqua);
}

.color-aqua {
    color: var(--aqua);
}

.background-b {
    background-color: var(--aqua);
}

.background-aqua {
    background-color: var(--aqua);
}

.color-c {
    color: var(--red);
}

.color-red {
    color: var(--red);
}

.background-c {
    background-color: var(--red);
}

.background-red {
    background-color: var(--red);
}

.color-d {
    color: var(--light-purple);
}

.color-light-purple {
    color: var(--light-purple);
}

.background-d {
    background-color: var(--light-purple);
}

.background-light-purple {
    background-color: var(--light-purple);
}

.color-e {
    color: var(--yellow);
}

.color-yellow {
    color: var(--yellow);
}

.background-e {
    background-color: var(--yellow);
}

.background-yellow {
    background-color: var(--yellow);
}

.color-f {
    color: var(--white);
}

.color-white {
    color: var(--white);
}

.background-f {
    background-color: var(--white);
}

.background-white {
    background-color: var(--white);
}

/* HYPIXEL SKYBLOCK */

.sb-rarity-common {
    color: var(--white)
}

.sb-rarity-uncommon {
    color: var(--green)
}

.sb-rarity-rare {
    color: var(--blue)
}

.sb-rarity-epic {
    color: var(--dark-purple)
}

.sb-rarity-legendary {
    color: var(--gold)
}

.sb-rarity-mythic {
    color: var(--light-purple)
}